.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
body {
  background-color: #eee;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.page {
  display: none;
}
.page.active {
  display: block;
}
#login-page,
#message-page {
  height: 100%;
}
#login-page .container-fluid,
#message-page .container-fluid {
  height: 100%;
}
.login-form,
.signout-form,
.form-deactivate {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.login-form .heading,
.form-signout-heading,
.form-deactivate-heading {
  margin-top: -50px;
}
.login-form .heading,
.login-form .alert,
.login-form {
  margin-bottom: 10px;
}
.login-form,
.signout-form {
  font-weight: normal;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.login-form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.login-form .form-control:focus {
  z-index: 2;
}
.login-form input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.login-form input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
section#dashboard-page .products {
  margin-top: 65px;
}
.status-bar {
  position: fixed;
  z-index: 10;
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  line-height: 50px;
}
.status-bar .brand {
  font-size: 16px;
  font-weight: bold;
  color: #555555;
}
.row {
  margin: -1px;
}
[class^="col"] {
  padding: 1px;
}
.product {
  height: 100%;
  padding: 10px;
}
.available {
  background-color: #bada55;
}
.unavailable {
  background-color: #999999;
}
.used {
  background-color: yellow;
}
.product h3 {
  margin-top: 0;
}
.product button {
  margin-top: 10px;
}
#message-page .alert {
  margin-bottom: 10px;
}
.countdown {
  font-weight: bold;
}
